.subscribe {
	display: flex;
	flex-direction: column;
	margin-left: auto;
}

.subscribe-form {
	display: flex;

	&__field {
		margin-right: 12px;
	}

	&__input {
		width: 358px;
		height: 50px;
		padding: 15px 0 15px 16px;

		color: $footer-contacts-color;
		border-radius: 4px;
		background: transparent;
		border: 1px solid rgba(255, 255, 255, 0.3);
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

		&::placeholder {
			font-weight: 400;
			font-size: 16px;
			line-height: 1.25;
			letter-spacing: inherit;

			color: $footer-contacts-color;
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		width: 200px;
		height: 50px;
		padding: 10px 28px;
	}

	&__icon {
		fill: $primary-white-color;
		margin-left: 10px;
	}
}
