.btn-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;

	&__item {
		margin-right: 8px;

		&:nth-child(5n) {
			margin-right: 0;
		}
	}

	&__filter {
		@extend %btn;
		padding: 6px 22px;

		font-weight: 500;
		line-height: 1.63;
		letter-spacing: inherit;

		background-color: $grey-bg-color;
		color: $secondary-text-color;

		transition-property: background-color, color;
		transition-duration: 250ms;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		&:focus {
			background-color: $accent-color;
			color: $primary-white-color;
			box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
		}
	}
}
