.porfolio-list {
	display: flex;
	flex-wrap: wrap;

	&__item {
		width: calc((100% - 30px * 2) / 3);
		margin-bottom: 30px;
		margin-right: 30px;

		transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:nth-child(3n) {
			margin-right: 0;
		}
		&:nth-last-child(-n + 3) {
			margin-bottom: 0;
		}

		&:hover {
			box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
		}
	}

	&__thumb {
		position: relative;
		overflow: hidden;
	}

	&__desc {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;

		margin: 0;
		padding: 63px 24px;
		background: rgba(33, 150, 243, 0.9);

		font-weight: 400;
		font-size: 18px;
		line-height: 1.56;

		color: $primary-white-color;

		transform: translateY(100%);
		transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

		.porfolio-list__item:hover & {
			transform: translateY(0);
		}
	}

	&__card {
		padding: 20px 24px;

		border-right: 1px solid #eeeeee;
		border-bottom: 1px solid #eeeeee;
		border-left: 1px solid #eeeeee;
	}
	&__title {
		margin-top: 0;
		margin-bottom: 4px;

		font-weight: 700;
		font-size: 18px;
		line-height: 2;
		letter-spacing: 0.06em;
	}

	&__text {
		margin-top: 0;
		margin-bottom: 0;

		font-weight: bold;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.87;
		color: $primary-text-color;
	}
}
