$primary-text-color: #757575;
$secondary-text-color: #212121;
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$logo-text-color: #000000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$secondary-bg-color: #2f303a;
$grey-bg-color: #f5f4fa;

$font-family-primary: Roboto, sans-serif;
$font-size-primary: 14px;
$letter-spacing-primary: 0.03em;
